<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add New Designer</title>

    <!-- Custom fonts for this template-->
    <link href="/static/adminArea/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/adminArea/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->



                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Add Designer Details</h1>
                    </div>
                    <form class="user" action="." method="post">
                        {% csrf_token %}
                        <div class="form-group ">
                            <label for="name"> Full Name</label>
                            <input type="text" id="name" name="name" value="{{designer.name}}"
                                class="form-control form-control-user" placeholder="Footer About">
                        </div>
                        <div class="form-group ">
                            <p><label for="bio"> Bio :</label></p>
                            <textarea id="bio" name="bio" rows="6" cols="100"
                                placeholder="Bio">{{designer.bio}}</textarea>
                        </div>
                        <div class="form-group ">
                            <label for="profile"> Profile Image</label>
                            <input type="text" id="profile" name="profile" value="{{designer.profilePic}}"
                                class="form-control form-control-user" placeholder="Profile Image...">
                        </div>
                        <div class="form-group ">
                            <label for="linkedin"> Linkedin Profile</label>
                            <input type="text" id="linkedin" name="linkedin" value="{{designer.linkedin}}"
                                class="form-control form-control-user" placeholder="Linkedin Profile">
                        </div>
                        <div class="form-group ">
                            <label for="facebook"> Facebook Profile</label>
                            <input type="text" id="facebook" name="facebook" value="{{designer.facebook}}"
                                class="form-control form-control-user" placeholder="Facebook Profile">
                        </div>
                        <div class="form-group ">
                            <label for="instagram"> Instagram Profile</label>
                            <input type="text" id="instagram" name="instagram" value="{{designer.instagram}}"
                                class="form-control form-control-user" placeholder="Instagram Profile">
                        </div>
                        <div class="form-group ">
                            <label for="twitter"> Twitter Profile</label>
                            <input type="text" id="twitter" name="twitter" value="{{designer.twitter}}"
                                class="form-control form-control-user" placeholder="Twitter Profile">
                        </div>
                        <div class="form-group ">
                            <label for="youtube"> Youtube Channel</label>
                            <input type="text" id="youtube" name="youtube" value="{{designer.youtube}}"
                                class="form-control form-control-user" placeholder="Youtube Channel">
                        </div>

                        <button class="btn btn-primary btn-user btn-block">
                            Create
                        </button>
                </div>
                </form>
                <hr>

            </div>


        </div>
    </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/adminArea/vendor/jquery/jquery.min.js"></script>
    <script src="/static/adminArea/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/adminArea/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/adminArea/js/sb-admin-2.min.js"></script>

</body>

</html>