<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">/
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if "viewServiceImages" in request.META.HTTP_REFERER %}
    <title>Add Service Image</title>
    {% else %}
    <title>Add Room Image</title>
    {% endif %}


    <!-- Custom fonts for this template-->
    <link href="/static/adminArea/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/adminArea/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->

                
                
                {% if "viewServiceImages" in request.META.HTTP_REFERER %}

                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Add New Service Designs</h1>
                    </div>
                    <form class="newroom" action="." method="post">
                        {% csrf_token %}
                        <div class="form-group ">
                            <label for="name"> Design  Url</label>
                            <input type="text" id="designUrl" name="designUrl" class="form-control form-control-user"
                                placeholder="Enter design url...">
                        </div>

                        <div class="form-group ">
                            <label for="rooms"> Service</label>
                            <select id="rooms" name="svc" class="form-select"
                                aria-label="Default select example">
                                {% for d in svc %}
                                <option value="{{d.id}}">{{d.name}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        


                        <button class="btn btn-primary btn-user btn-block">
                            Add 
                        </button>
                    </form>
                </div>
              {% else %}
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Add New Room Designs</h1>
                    </div>
                    <form class="newroom" action="." method="post">
                        {% csrf_token %}
                        <div class="form-group ">
                            <label for="name"> Design  Url</label>
                            <input type="text" id="designUrl" name="designUrl" class="form-control form-control-user"
                                placeholder="Enter design url...">
                        </div>

                        <div class="form-group ">
                            <label for="rooms"> Room</label>
                            <select id="rooms" name="rooms" class="form-select"
                                aria-label="Default select example">
                                {% for d in rooms %}
                                <option value="{{d.id}}">{{d.name}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="checks" class="custom-control-input" id="customCheck1"
                                value="showFeatured">
                            <label class="custom-control-label" for="customCheck1">Featured</label>
                        </div>
                        
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="checks" class="custom-control-input"
                                value="showTrending" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">Trending</label>
                        </div>


                        <button class="btn btn-primary btn-user btn-block">
                            Add 
                        </button>
                    </form>
                </div>
               {% endif %}
                <hr>

            </div>


        </div>
    </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/adminArea/vendor/jquery/jquery.min.js"></script>
    <script src="/static/adminArea/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/adminArea/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/adminArea/js/sb-admin-2.min.js"></script>

</body>

</html>