<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aesthetics | Interior Designers</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/47886b77a3.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Nanum+Gothic&family=Style+Script&display=swap"
        rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="static/js/script2.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    <link rel="stylesheet" href="static/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="stylesheet" href="static/css/smallMobileResponsive.css">
</head>

<body>




    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img class="navbar-logo" src="static/images/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success form-button my-2 my-sm-0" type="submit"><i
                        class="fa fa-search"></i></button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Designs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Drawing Room</a>
                        <a class="dropdown-item" href="#">Dining Room</a>
                        <a class="dropdown-item" href="#">Bedroom</a>
                        <a class="dropdown-item" href="#">Kitchens</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ref="tel:8665562570" class="call"><i class="fa fa-phone"></i></a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="bannerHead" style="background-image:url('static/images/banner.jpg">
        <div class="wrapperForHeader">
            <div class="bestPrices">
                <h1>Make your dream</h1>
                <h2>home a reality</h2>
                <div class="servicesProvided"><label>Interior Designers | Construction | Services</label></div>
                <div class="banner-social-media-icons">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <div class="hire-us">
                    <label> Hire Us for </label>
                    <li>Interior Designers</li>
                    <li>Exterior Designers</li>
                    <li>Constructions</li>
                    <li>Furnitures</li>
                    <li>Wallpapers</li>
                    <li>Ceilings</li>
                </div>
            </div>
            <div class="meetDesignerForm" id="meetDesigner">
                <h1>Join Millions of <br>Home <br>Professionals</h1>
                <h2>Book your appointment </h2>
                <form action="bookSession/" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Enter your name">
                    <input type="email" name="email" placeholder="Enter your email">
                    <input type="number" name="number" placeholder="Enter your mobile number" pattern="[0-9]+"
                        maxlength="10" required>
                    <input type="number" name="pincode" placeholder="Enter your current pincode" pattern="[0-9]+"
                        maxlength="6" required>
                    <input type="textarea" name="address" placeholder="Enter your address">
                    <button type="submit">Book Your Design Session</button>
                </form>
            </div>
        </div>
    </div>
    <div class="mobile-form">
        <div class="meetDesignerForm" id="meetDesigner">
            <h1>Join Millions of <br>Home <br>Professionals</h1>
            <h2>Book your appointment </h2>
            <form action="bookSession/" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Enter your name">
                <input type="email" name="email" placeholder="Enter your email">
                <input type="number" name="number" placeholder="Enter your mobile number" pattern="[0-9]+"
                    maxlength="10" required>
                <input type="number" name="pincode" placeholder="Enter your current pincode" pattern="[0-9]+"
                    maxlength="6" required>
                <input type="textarea" name="address" placeholder="Enter your address">
                <button type="submit">Book Your Design Session</button>
            </form>
        </div>
    </div>






    <div class="what-we-can-do">
        <h1>Here's what we can do on Aesthetics</h1>
        <div class="options">
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/900/900930.png?w=740" />Discover Design
                    Ideas</a></li>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1234/1234127.png?w=740" />Speak with
                    Designers</a></li>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1140/1140665.png?w=740" />Book an
                    appointment</a></li>
            <li><a href="#"><img
                        src="https://cdn-icons-png.flaticon.com/512/1058/1058682.png?w=740&t=st=1655731171~exp=1655731771~hmac=0e96c3e11adb54e5dcedd51767ee596c5c7092f1d2f06853c82c1118a769bcc2" />Buy
                    Home
                    decor
                    products</a></li>
        </div>
        <div class="mobile-responsive-options">
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/900/900930.png?w=740" />Discover Design
                    Ideas</a></li>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1234/1234127.png?w=740" />Speak with
                    Designers</a></li>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1140/1140665.png?w=740" />Book an
                    appointment</a></li>
            <li><a href="#"><img
                        src="https://cdn-icons-png.flaticon.com/512/1058/1058682.png?w=740&t=st=1655731171~exp=1655731771~hmac=0e96c3e11adb54e5dcedd51767ee596c5c7092f1d2f06853c82c1118a769bcc2" />Buy
                    Home
                    decor
                    products</a></li>
        </div>
    </div>





    <div class="whyAesthetics">
        <h1>Why choose us ?</h1>
        <div class="aestheticsPoints">
            {% for whasth in whyAsth %}
            <li class="eachPoint">
                <img src="{{whasth.iconUrl}}" />
                <label>{{whasth.name}}</label>
            </li>
            {% endfor %}

        </div>
    </div>
    <div class="meetYourDesigner">
        <div class="left">
            <h1>Meet Our Designer</h1>
            <label>{{designer.name}}</label>
            <p>{{designer.bio}}</p>
        </div>
        <div class="right">
            <img
                src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" />
        </div>
    </div>
    <div class="shortSpecials">
        <li class="shortTexts item1">
            <img src="https://cdn-icons-png.flaticon.com/512/1190/1190876.png?w=740" /><label>Aesthetics Customer
                Satisfaction</label>
        </li>
        <li class="shortTexts">
            <h3>On Time</h3>
            <h4>delivery</h4>
        </li>
        <li class="shortTexts">
            <h3>Best</h3>
            <h4>price</h4>
        </li>
        <li class="shortTexts">
            <h3>Superior</h3>
            <h4>quality</h4>
        </li>
        <li class="shortTexts">
            <h3>Safety</h3>
            <h4>assured</h4>
        </li>
    </div>
    <div class="about-us">
        <h1>About us</h1>
        <p>{{about.content}}</p>
    </div>
    <div class="browseByRooms">
        <h1>Browse Ideas by Rooms</h1>
        <div class="wrapperBox">
            {% for r in rooms %}
            <div class="box">
                <a href="rooms/{{r.id}}">
                    <img src="{{r.thumbnailImgUrl}}" /></a>
                <label>{{r.name}}</label>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="dealsIn">
        <h1>We are specialized in</h1>
        <div class="specializations">
            {% for s in specialization %}
            <li class="eachSpecialization">
                <img src="{{s.imgUrl}}">
                <label>{{s.name}}</label>
            </li>
            {% endfor %}

        </div>
    </div>
    <div class="completeHomeInterior">
        <div class="left">
            <img
                src="https://images.pexels.com/photos/1080696/pexels-photo-1080696.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        </div>
        <div class="right">
            <h3>Complete home interior in 3 easy steps</h3>
            <ol>
                <li>
                    <h3>Discover</h3>
                    <h4>Explore more than just modular design ideas with our experts.</h4>
                </li>
                <li>
                    <h3>Design</h3>
                    <h4>Complete the design with painting, lighting, flooring and other decor solutions.</h4>
                </li>
                <li>
                    <h3>Move-In</h3>
                    <h4>Move in with ease, with our hassle free civil work and installation services.</h4>
                </li>
            </ol>
            <a class="contactDesignerButton" href="#meetDesigner">Contact Our Designer</a>
        </div>
    </div>


    <div class="trendingBedroom">
        <div class="head">
            <h1>Trending Bedroom Designs</h1>
            <a href="./bedroom.html">See More</a>
        </div>

        <div id="slider-container" class="slider">
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1574482620811-1aa16ffe3c82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1574451311232-cb647e9d71f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1574449423472-4bc6a3d2473d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1574459472673-09bbda49102a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=928&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1479981280584-037818c1297d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1560259324-12a044e67c34?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1532787799187-93655e51d472?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div onclick="prev()" class="control-prev-btn">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div onclick="next()" class="control-next-btn">
                <i class="fas fa-arrow-right"></i>
            </div>

        </div>

    </div>
    <div class="trendingBedroom">
        <div class="head">
            <h1>Trending Drawing Hall Designs</h1>
            <a href="./drawingroom.html">See More</a>
        </div>

        <div id="slider-container2" class="slider">
            <div class="slide2">
                <img src="https://images.unsplash.com/photo-1574482620811-1aa16ffe3c82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide2">
                <img src="https://images.unsplash.com/photo-1574451311232-cb647e9d71f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide2">
                <img src="https://images.unsplash.com/photo-1574449423472-4bc6a3d2473d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide2">
                <img src="https://images.unsplash.com/photo-1574459472673-09bbda49102a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=928&q=20"
                    alt="">
            </div>
            <div class="slide2">
                <img src="https://images.unsplash.com/photo-1479981280584-037818c1297d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=20"
                    alt="">
            </div>
            <div class="slide2">
                <img src="https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div class="slide2">
                <img src="https://images.unsplash.com/photo-1560259324-12a044e67c34?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div class="slide2">
                <img src="images.unsplash.com/photo-1532787799187-93655e51d472?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div onclick="prev2()" class="control-prev-btn">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div onclick="next2()" class="control-next-btn">
                <i class="fas fa-arrow-right"></i>
            </div>

        </div>

    </div>
    <div class="trendingBedroom">
        <div class="head">
            <h1>Trending Kitchen Designs</h1>
            <a href="./kitchen.html">See More</a>
        </div>

        <div id="slider-container" class="slider">
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1574482620811-1aa16ffe3c82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1574451311232-cb647e9d71f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1574449423472-4bc6a3d2473d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1574459472673-09bbda49102a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=928&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1479981280584-037818c1297d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="https://images.unsplash.com/photo-1560259324-12a044e67c34?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div class="slide">
                <img src="images.unsplash.com/photo-1532787799187-93655e51d472?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=20"
                    alt="">
            </div>
            <div onclick="prev()" class="control-prev-btn">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div onclick="next()" class="control-next-btn">
                <i class="fas fa-arrow-right"></i>
            </div>

        </div>
    </div>


    <div class="projects">
        <h2>Look at our trending designs</h2>
        <div class="eachProjects">
            <input class="toggle-box" id="toggleId-7" type="checkbox">
            <label class="underlineEffect" for="toggleId-7">Bedroom Furnishing</label>
            <div class="toggle-box-content">
                <div class="categoricalImages">
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

                </div>
            </div>
        </div>
        <div class="eachProjects">
            <input class="toggle-box" id="toggleId-8" type="checkbox">
            <label class="underlineEffect" for="toggleId-8">Dining Room Furnishing</label>
            <div class="toggle-box-content">
                <div class="categoricalImages">
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

                </div>
            </div>
        </div>
        <div class="eachProjects">
            <input class="toggle-box" id="toggleId-9" type="checkbox">
            <label class="underlineEffect" for="toggleId-9">Hall Furnishing</label>
            <div class="toggle-box-content">
                <div class="categoricalImages">
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                    <img
                        src="https://images.pexels.com/photos/7031825/pexels-photo-7031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

                </div>
            </div>
        </div>

    </div>


    <div class="our-services">
        <h1>End-to-End Interior Solutions | All Services</h1>
        <div class="categories">
            {% for svc in services %}
            <div class="box">
                <div class="top">
                    <img src="{{svc.iconUrl}}" />
                </div>
                <div class="middle">
                    <label>{{svc.name}}</label>
                </div>
                <div class="bottom">

                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</body>
<div class="addressMap">
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3662.8521632333877!2d85.26772785051705!3d23.35736998470988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4dfd521948151%3A0x761e0bc793e8337f!2sShri%20Sai%20Ashray%20Apartment!5e0!3m2!1sen!2sin!4v1654102214702!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="headquarters">
        <h1>Reach us</h1>
        <h3>We are located across all cities in India</h3>
        <i class="fa fa-building"></i><label>Main Office</label><br>
        <span>{{contact.office_address}}</span>
        <p></p>
        <i class="fa fa-envelope"></i><label>Email</label><br>
        <span>{{contact.office_email}}</span>
        <p></p>
        <label><i class="fa fa-phone"></i>Contact No.</label><br>
        <span>{{contact.office_contact}}</span>

    </div>
</div>
<div class="footer">
    <div class="upper">
        <img src="static/images/WhatsApp_Image_2022-05-31_at_3.00.57_PM-removebg-preview.png" />
        <p>{{about.footer_content}}</p>
    </div>
    <div class="lower">
        <span>{{about.footer_meta_content}}</span>
        <div class="socialMedia">
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="contact">
            <a href="#"><i class="fa fa-phone"></i>{{contact.office_email}}</a>
            <a href="#"><i class="fa fa-envelope"></i>{{contact.office_contact}}</a>

        </div>
    </div>
</div>
<div class="stamp">
    <span>Website designed & developed by Rishu Raj</span>
</div>
</body>

</html>